<div class="login-container">
    <div class="login-image-conatiner">
        <img style="width: 300px;" src="https://linkup.mk/assets/demo-stuff/people-smiling.webp" aria-hidden="true" alt="" i18n-alt >    
    </div>
    <div class="login-text">
        <div class="login-text-container">
            <h3 i18n>Whatever your interest, there's a community of people waiting for you on Linkup!</h3>
            <ul>
                <li class="flex items-center space-x-3">
                    <div>
                        <svg width="20pt" height="20pt" class="w-3.5 h-3.5 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                        </svg>
                    </div>
                    <span class="text-lg font-medium text-white" i18n> Connect with like-minded individuals  </span>
                </li>
                <li class="flex items-center space-x-3">
                    <div>
                        <svg width="20pt" height="20pt" class="w-3.5 h-3.5 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                        </svg>
                    </div>
                    <span class="text-lg font-medium text-white" i18n> Explore new interests </span>
                </li>
                <li class="flex items-center space-x-3">
                    <div>
                        <svg width="20pt" height="20pt" class="w-3.5 h-3.5 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                        </svg>
                    </div>
                    <span class="text-lg font-medium text-white" i18n> Exchange ideas  </span>
                </li>
                <li class="flex items-center space-x-3">
                    <div>
                        <svg width="20pt" height="20pt" class="w-3.5 h-3.5 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                        </svg>
                    </div>
                    <span class="text-lg font-medium text-white" i18n> Build lasting relationships </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="login-form">
        <h2 i18n>Sign in to your account</h2>
        <p i18n>Don`t have an account? <a href="/register">Sign up</a></p>
        <form>
            <div class="form-group">
                <label for="email" i18n>Email</label>
                <input type="email" id="email" name="email" placeholder="Enter your email">
            </div>
            <div class="form-group">
                <label for="password" i18n>Password</label>
                <input type="password" id="password" name="password" placeholder="Enter your password">
            </div>
            <div class="rememberance-container" i18n>
                <div>

                </div>
                <a class="forgot-password" href="/forgot-password">Forgot password?</a>
            </div>
            <button type="submit" i18n>Sign in</button>
        </form>
        <div class="divider">
            <hr>
            <span i18n>Or</span>
        </div>
        <div class="google-sign">
            <a>Google</a>
        </div>
    </div>
</div>