@import url(../../app/register/register.component.css);

.forget-password{
    margin: 0.25rem 0.875rem;
    color: var(--primary-color);
    text-align: right;
  }

  .forget-password a{
    text-decoration: underline;
    font-size: 1.05rem;
  }

  .forget-password a:hover{
    color: navy;
    transition: color 0.2s ease-in-out;
  }