<a [routerLink]="['/details',eventData.id]" class="card">
    <section class="listing">
        <img class="listing-photo" [src]="eventData.photo"
        alt="Image of {{eventData.name}}">
        <h2 class="listing-heading"> {{eventData.name}} </h2>
        <p class="listing-location"> {{eventData.city}}, {{eventData.country}}</p>
        <p class="listing-date"> {{eventData.startDate | date:'EEEE, MMM dd'}} at: {{eventData.startTime}} </p>
        <p class="listing-price"> Price: {{eventData.price}} den</p>
        <p class="listing-organizator"> Organized by: {{eventData.organizer}}</p>
    </section>
</a>