.card{
  text-decoration: none;
  cursor: unset;
}

.card section:hover{
  background-color: var(--accent-color);
  transition: 1s ease-in-out;
}

.card:visited{
  color: var(--primary-color);
}
.listing {
  background: var(--card-color);
  border-radius: 30px;
  border: 1px solid var(--shadow-color);
  padding-bottom: 30px;
}
.listing-heading {
  color: var(--primary-color);
  padding: 0.5rem 1rem;
  text-align: center;
}
.listing-photo {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 30px 30px 0 0;
  @media (min-width: 1100px) {
    object-position: top;
  }
}

.listing-p{
  margin: 0.5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.listing-date-time{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.listing p{
  font-size:0.9rem;
  padding: 0 1rem;
  color: var(--card-text-color);
  font-weight: 500;
}

.listing-date::before {
  content: url("/assets/calendar.svg") / "";
}
.listing-location::before {
  content: url("/assets/location-pin.svg") / "";
}
