.card{
  text-decoration: none;
  cursor: unset;
  height:max-content;
}

.card section:hover{
  background-color: var(--accent-color);
  transition: background-color 0.6s ease-in-out, scale 0.3s ease-in-out;
  scale: 0.9;
}

.card:visited{
  color: var(--primary-color);
}
.listing {
  background: var(--card-color);
  border-radius: 30px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  padding-bottom: 30px;
}
.listing-heading {
  color: var(--primary-color);
  padding: 0.5rem 1rem;
  text-align: center;
}
.listing-photo {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 30px 30px 0 0;
  object-position: top;

}

.listing-p{
  margin: 0.5rem 0;
  display: flex;
  flex-direction: row;
    justify-content: space-between;
}

.listing-date-time{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.listing p{
  font-size: 0.9rem;
  padding: 0 1rem;
  color: var(--card-text-color);
  font-weight: 500;
}

.listing-date::before {
  content: url("/assets/calendar.svg") / "";
  padding-right: 0.2rem;
}
.listing-location::before {
  content: url("/assets/location-pin.svg") / "";
}

@media (min-width:399px) and (max-width: 799px) {
  .listing-p{
  justify-content: center;
  gap: 8rem;
  }
}

@media (min-width: 1200px) and (max-width: 1500px)
{
  .listing-p p{
    font-size: 0.8rem;
  }

  .listing-heading{
    font-size: 1.7rem;
  }
}

@media (max-width: 600px){
  .listing-p{
    transition: 1s ease-in-out;
    gap: 1rem;
  }
}

@media (max-width: 350px){
  .listing-p{
    flex-direction: column;
  }

  .listing-p p{
    text-align: center;
  }
}