/* General body styling */
body.align {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0 3rem;
}

*:not(form):not(form *) {
  font-family: "Rubik", "Helvetica Neue", sans-serif;
}

/* Styling for the authentication text */
.authentication-text {
  text-align: center;
  margin-bottom: 2rem;
}

.authentication-text h2 {
  font-size: 2rem;
  color: var(--primary-color);
  font-weight: 700;
}

/* Grid container styling */
.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* Form styling */
.form.authentication {
  display: grid;
  width: 100%;
}

.form__field {
  margin-bottom: 1.5rem;
}

/* Material form field styling */
.mat-form-field {
  width: 100%;
}

/* Button styling */
button[mat-raised-button] {
  width: 100%;
  padding: 1rem;
  background-color: var(--primary-color);
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 4px;
  transition: background-color 1s ease;
}

button[mat-raised-button]:hover {
  background-color: var(--secondary-color);
}

.form input[type='password']:-webkit-autofill,
.form input[type='text']:-webkit-autofill,
.form input[type='email']:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  -webkit-text-fill-color: inherit !important;
}

/* Responsive design */

@media (min-width: 768px) {
  .grid {
    width: 600px;
  }
}

@media (max-width: 600px) {
  .grid {
    padding: 1rem;
    box-shadow: none;
  }

  button[mat-raised-button] {
    font-size: 0.875rem;
  }
}

/* Additional responsiveness from register.component.css */
@media (max-width: 768px) {
  .grid {
    width: 90%;
  }

  button[mat-raised-button] {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .grid {
    width: 100%;
  }

  .authentication-text {
    margin-bottom: 1rem;
  }

  button[mat-raised-button] {
    font-size: 0.85rem;
  }
}

@media (max-width: 450px) {
  .grid {
    width: 100%;
  }

  button[mat-raised-button] {
    font-size: 0.8rem;
  }
}

@media (max-width: 370px) {

  .authentication-text {
    margin-bottom: 0.5rem;
  }

  .authentication-text h2 {
    font-size: 1.5rem;
  }
}
