<body class="align mat-typography">
    <div class="authentication-text">
      <h2>Forgot Password</h2>
    </div>
  
    <div class="grid">
      <form class="form authentication">
        <mat-form-field class="form__field" appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          placeholder="Email"
          [(ngModel)]="email"
          name="email"
          required
        />
        <mat-icon matPrefix>person</mat-icon>
        </mat-form-field>
        <div class="form__field">
        <button mat-raised-button type="submit" (click)="forgotPass()">
          Send link
        </button>
        </div>
      </form>
    </div>
  </body>
  