* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Be Vietnam Pro', sans-serif;
}
:root {
  --primary-color: #0042B6;
  --secondary-color: #0065D0;
  --accent-color: #bfe5ff;
  --shadow-color: #80ccff;
  --card-color: #F0EDFF;
}

button.primary {
  padding: 10px;
  border: solid 1px var(--primary-color);
  background: var(--primary-color);
  color: white;
  border-radius: 8px;
}