<nav class="header-info">
    <div class="logo-module">
      <div class="logo-icon"> 
        <a href="http://localhost:4200/" class="logo" aria-hidden="true">EventifyNow</a> <!-- Promena vo logo in the future-->
      </div>
    </div>
    <div class="list-module">
      <a routerLink="/login" id="account-short"></a>
      <ul>
        <li><a routerLink="/login">Log In</a></li>
        <li><a routerLink="/register">Sign Up</a></li>
      </ul>
    </div>
</nav>

<div class="search-bar">
  <form class="search-form">
    <input type="text" placeholder="Search event" #filter/>
    <input type="text" placeholder="City" #filter/>
    <button class="search-button" (click)="filterResults(filter.value)">Search</button>
  </form>
</div>

<div class="add-event-section">
    <h2>Want to add an event?</h2>
    <p>Click the button below to add an event</p>
    <button class="add-event-button" (click)="openAdd()" >Add Event</button>
</div>

<div *ngIf="isAddEventVisible" class="add-event-div">
  <p>add-event works!</p>
  <button (click)="closeAdd()">Close</button>
</div>

<section class="results">
    <app-event-data *ngFor="let events of filteredDataList" [eventData]="events"></app-event-data>
</section>

<app-footer></app-footer>