<article>
    <img class="listing-photo" [src]="eventData?.photo">
    <section class="listing-description">
        <h2 class="listing-heading">{{ eventData?.name }}</h2>
        <p class="listing-location">{{ eventData?.city}}, {{ eventData?.country }}</p>
    </section>
    <section class="listing-features">
        <h2 class="section-heading">About this</h2>
        <ul>
            <li>Start: {{eventData?.startDate}}</li>
            <li>End: {{eventData?.endDate}}</li>
            <li>Participants: {{eventData?.participants}}</li>
            <li>By: {{eventData?.organizer}}</li>
            <li>Price: {{eventData?.price}} </li>
        </ul>
    </section>
    <section class="listing-apply">
        <h2 class="section-heading">Apply now to live</h2>
        <form [formGroup]="applyForm" (submit)="submitApplication()">
            <label for=first-name>First Name</label>
            <input type="text" id="first-name" formControlName="firstName">
            <label for=last-name>Last Name</label>
            <input type="text" id="last-name" formControlName="lastName">
            <label for=email>Email</label>
            <input type="email" id="email" formControlName="email">

            <button type="submit" class="primary">Apply now</button>
        </form>
    </section>
</article>
