.go-back{
  display: flex;
  align-items: center;
  padding: 1rem 0 1rem 7rem;
  border: 1px solid white;
}

.go-back a{
  border: 1px solid var(--accent-color);
  padding: 0.5rem 0.6rem;
  margin: 0 1rem;
  border-radius: 10px;
  background-color: var(--accent-color);
}

.listing-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.similar-event{
  text-decoration: none;
  font-size: 0.9rem;
  padding: 0.7rem 1rem;
  margin: 1rem;
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  background-color: var(--secondary-color);
  color: white;
}

.listing{
  background-color:#e5e7eb;
  display: flex;
  flex-direction: row;
  padding: 0 5rem 3rem 5rem;
  justify-content: space-between;
}


.listing section{
  width: 45%;
}

.listing-photo {
  width: 75%;
  border-radius: 30px;
  border: 2px solid var(--accent-color);
}

.listing-blitz{
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.listing-heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.listing-location::before {
  content: url('/assets/location-pin.svg') / '';
}

.listing-location {
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.listing-features > .section-heading {
  color: var(--secondary-color);
  font-size: 24pt;
  margin-bottom: 15px;
}

.listing-features {
  margin-bottom: 20px;
}

.listing-features li {
  font-size: 14pt;
}

li {
  list-style-type: none;
}

.listing-apply .section-heading {
  font-size: 18pt;
  margin-bottom: 15px;
}

label, input {
  display: block;
}
label {
  color: var(--secondary-color);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12pt;
}
input {
  font-size: 16pt;
  margin-bottom: 15px;
  padding: 10px;
  width: 400px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: solid .3px;
}


