<article>
    <section class="go-back">
        <a href="#" (click)="delayBack()">
            <svg xmlns="http://www.w3.org/2000/svg" width="15pt" height="15pt" fill="#0042B6" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
            </svg>
        </a>
        <h2> {{eventData?.name}} </h2>
    </section>
    <section class="listing">
        <section class="listing-description">
            <img class="listing-photo" [src]="eventData?.photo" alt="Image of {{eventData?.name}}">
            <div class="listing-blitz">
                <h2 class="listing-heading">{{ eventData?.name }}</h2>
                <p class="listing-location">{{ eventData?.city}}, {{ eventData?.country }}</p>
            </div>
            <div class="listing-organizer">
                <p class="organizer-first">Organized by:</p>
                <p>{{eventData?.organizer}}</p>
            </div>
        </section>
        <section class="listing-element">
            <section class="listing-features">
                <h2 class="section-heading" >About this</h2>
                <section class="event-card">
                    <div class="event-cal">
                        <p id="event-month">{{ eventData?.startDate | date: 'MMM' }}</p>
                        <p id="event-day">{{ eventData?.startDate | date: 'dd' }}</p>
                    </div>
                    <div class="event-block">
                        <p class="event-date">{{eventData?.startDate | date: 'EEEE, dd MMMM, yyyy'}}</p>
                        <p class="event-time">{{eventData?.startTime}}h</p>
                    </div>
                </section>
                    <p class="listing-price">Price: {{ eventData?.price !== 0 ? eventData?.price + ' den' : 'Free' }}</p>
            </section>
            <section class="listing-apply">
                <div>
                    <p id="RSVP-title">Registration for the event</p>
                </div>
                <div>
                    <p id="RSVP-text">Welcome! For better organization, confirm your desire to join the event:</p>
                    <button type="submit" id="b-RSVP" (click)="attendEvent()">ATTEND</button>
                </div>
            </section>
            <p class="description"> {{eventData?.description}} </p>
            <section class="listing-delete" *ngIf="isAdmin()">
                <div>
                    <button type="button" id="b-delete" (click)="deleteEvent()">DELETE EVENT</button>
                </div>
            </section>
        </section>
    </section>
    <app-footer></app-footer>
</article>
