<div class="register-container">
    <div class="register-image-conatiner">
        <img style="width: 300px;" src="https://linkup.mk/assets/demo-stuff/people-smiling.webp" aria-hidden="true" alt="" i18n-alt>    
    </div>
    <div class="register-text">
        <div class="register-text-container">
            <h3 i18n>Whatever your interest, there's a community of people waiting for you on Linkup!</h3>
            <ul>
                <li class="flex items-center space-x-3">
                    <div>
                        <svg width="20pt" height="20pt" class="w-3.5 h-3.5 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                        </svg>
                    </div>
                    <span class="text-lg font-medium text-white" i18n> Connect with like-minded individuals  </span>
                </li>
                <li class="flex items-center space-x-3">
                    <div>
                        <svg width="20pt" height="20pt" class="w-3.5 h-3.5 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                        </svg>
                    </div>
                    <span class="text-lg font-medium text-white" i18n> Explore new interests </span>
                </li>
                <li class="flex items-center space-x-3">
                    <div>
                        <svg width="20pt" height="20pt" class="w-3.5 h-3.5 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                        </svg>
                    </div>
                    <span class="text-lg font-medium text-white" i18n> Exchange ideas  </span>
                </li>
                <li class="flex items-center space-x-3">
                    <div>
                        <svg width="20pt" height="20pt" class="w-3.5 h-3.5 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                        </svg>
                    </div>
                    <span class="text-lg font-medium text-white" i18n> Build lasting relationships </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="register-form">
        <h2 i18n>Sign up your account</h2>
        <div class="google-sign">
            <a>Google</a>
        </div>
        <div class="divider">
            <hr>
            <span i18n>Or</span>
        </div>
        <form>
            <div class="form-group">
                <label for="name" i18n>Name</label>
                <input type="name" id="name" name="name" placeholder="Enter your name">
            </div>
            <div class="form-group">
                <label for="email" i18n>Email</label>
                <input type="email" id="email" name="email" placeholder="Enter your email">
            </div>
            <div class="form-group">
                <label for="password" i18n>Password</label>
                <input type="password" id="password" name="password" placeholder="Enter your password">
            </div>
            <div class="form-group">
                <label for="confirm-password" i18n>Confirm Password</label>
                <input type="confirm-password" id="confirm-password" name="confirm-password" placeholder="Confirm your password">
            </div>
            <div class="flex items-center">
                <input type="checkbox" class="" required="required" checked="checked">

                <div class="ms-2">
                    <p i18n>By registering you agree with <a target="_blank" href="https://linkup.mk/terms-of-service" class="underline text-sm text-gray-600 hover:text-gray-900 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Terms &amp; Conditions</a> and <a target="_blank" href="https://linkup.mk/privacy-policy" class="underline text-sm text-gray-600 hover:text-gray-900 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Privacy Policy</a></p>                
                </div>
            </div>
            <div class="flex items-center justify-between mt-4">
                <p class="mt-2 text-base text-gray-600" i18n>Already have an account?
                    <a href="https://linkup.mk/login" class="font-medium text-blue-600 transition-all duration-200 hover:text-blue-700 focus:text-blue-700 hover:underline">Sign in</a>
                </p>
                <button type="submit" class="inline-flex items-center px-4 py-2 { bg-pi-400 hover:bg-pi-500 } border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest active:bg-pi-600 focus:outline-none transition ease-in-out duration-150 ms-4" i18n>
                    Register
                </button>
            </div>      
        </form>
    </div>
</div>