<body class="align mat-typography">
<div class="authentication-text">
  <h2>Sign Up</h2>
</div>

<div class="grid">
  <form class="form authentication">
    <mat-form-field appearance="outline" class="form__field">
      <mat-label>Username</mat-label>
      <input
        [(ngModel)]="username"
        matInput
        name="username"
        placeholder="Username"
        required
        type="text"
      />
      <mat-icon matPrefix>account_circle</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form__field">
      <mat-label>Email</mat-label>
      <input
        [(ngModel)]="email"
        matInput
        name="email"
        placeholder="Email"
        required
        type="email"
      />
      <mat-icon matPrefix>person</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form__field">
      <mat-label>Password</mat-label>
      <input
        [(ngModel)]="password"
        [type]="hide ? 'password' : 'text'"
        matInput
        name="password"
        placeholder="Password"
        required
      />
      <mat-icon matPrefix>lock</mat-icon>
      <button (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" mat-icon-button
              matSuffix>
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>

    <div class="form__field">
      <button (click)="register()" mat-raised-button type="submit">
        Sign Up
      </button>
    </div>
  </form>

  <div class="text--center">
    <p>Already a member?
      <a routerLink="/login">Sign in</a>
  </div>

  <div class="hr">
    <hr/>
    <span>OR</span>
  </div>

  <form class="form authentication google-form">
    <button (click)="signInWithGoogle()" class="google-sign-in" mat-raised-button>
      Continue with
      <svg
        fill="currentColor"
        height="1.5rem"
        viewBox="0 0 24 24"
        width="1.5rem"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M20.283 10.356h-8.327v3.451h4.792c-.446 2.193-2.313 3.453-4.792 3.453a5.27 5.27 0 0 1-5.279-5.28 5.27 5.27 0 0 1 5.279-5.279c1.259 0 2.397.447 3.29 1.178l2.6-2.599c-1.584-1.381-3.615-2.233-5.89-2.233a8.908 8.908 0 0 0-8.934 8.934 8.907 8.907 0 0 0 8.934 8.934c4.467 0 8.529-3.249 8.529-8.934 0-.528-.081-1.097-.202-1.625z"
        ></path>
      </svg>
    </button>
  </form>
</div>
</body>
